venv/
__pycache__/
*.pyc
.env
.streamlit/secrets.toml
.ipynb_checkpoints/
*.log
.DS_Store
# ------------------------------------------------
# Python cache
# ------------------------------------------------
__pycache__/
*.pyc

# ------------------------------------------------
# Jupyter
# ------------------------------------------------
.ipynb_checkpoints/

# ------------------------------------------------
# OS junk
# ------------------------------------------------
Thumbs.db
.DS_Store

# ------------------------------------------------
# Microsoft Office temp files
# ------------------------------------------------
~$*.docx
~$*.xlsx
~$*.pptx

# ------------------------------------------------
# Environment files
# ------------------------------------------------
venv/
.env
ML_Deployment-Student_Guide_Prof_Awe.pdf
